html
  head
    meta(charset= 'UTF-8')
    meta(
      name= 'viewport'
      content= 'width=device-width, initial-scale=1.0'
      )
    title= title
    link(rel= 'stylesheet' type= 'text/css' href= '../../css/meyers_reset.css')
    link(rel= 'stylesheet' type= 'text/css' href= '../../css/styles.css')
    script(type= 'text/javascript' src= '../js/form.js')
  body
    header
      h1= formTitle
    main
      div(class= 'container-form')
        form(id= 'form-book' method= 'POST' action= book ? `/books/${book.id}/update` : '/book/new')
          label(for= 'input-title')= 'Title: '
            input(type= 'text' id= 'input-title' name= 'title' placeholder= 'And Then There Were None' value= book ? book.title : '')
          label(for= 'input-author')= 'Author: '
            input(type= 'text' id= 'input-author' name= 'author' placeholder= 'Agatha Cristie' value= book ? book.author : '' readonly= book ? 'readonly' : false)
          label(for= 'input-pages')= 'Pages: '
            input(type= 'number' id= 'input-pages' name= 'pages' placeholder= '256' value= book ? book.pages : '')
          label(for= 'input-isbn')= 'ISBN Number: '
            input(type= 'text' id= 'input-isbn' name= 'isbn' placeholder= 'B000FC1RCI' value= book ? book.isbn : '')
          label(for= "genres-select")= 'Choose a Genre: '
            select(name= "genre" id= "genres-select")
              option(value= "" selected)= '--Please choose an option--'
              option(value= "" id="genre-new")= '--Add New Genre --' 
              each genre in genres
                option(value= genre)= genre
          label(for= 'input-genre' id= 'label-input-genre' class= 'hide')= 'Genre: '
            input(type= 'text' id= 'input-genre' name= 'newGenre' placeholder= 'Fiction, Non-fiction, etc...')
          if book
            each prevGenre in book.genre
              label(for = `input-${prevGenre}`)= `${prevGenre}: `
                input(type= 'checkbox' id= `input-${prevGenre}` name= prevGenre checked)
          label(for= 'textarea-summary')= 'Summary: '
            textarea(id= 'textarea-summary' name= 'summary', cols="30", rows="10")= book ? book.summary : 'Book summary goes here...'
          button(type= 'submit' id= 'btn-submit')= book ? 'Update Book' : 'Add Book'