html
  head
    meta(charset= 'UTF-8')
    meta(
      name= 'viewport'
      content= 'width=device-width, initial-scale=1.0'
      )
    title= title
    link(rel= 'stylesheet' type= 'text/css' href= './css/meyers_reset.css')
    link(rel= 'stylesheet' type= 'text/css' href= './css/styles.css')
    script(type= 'text/javascript' src='./js/index.js')
  body
    div(class= 'div-wrapper')
      header
        h1= 'expressLibrary'
      main
        aside
          button(id= 'btn-genre-new' type= 'button')= 'New Genre'
          ul
            each genre in genres
              li(class= 'li-genre')
                button(class='btn-genre' data-genre-name=`${genre}`)= genre
        div(class= 'wrapper-books')
          div(id= 'books-header')
            h2(id= `header-collection`)= currentGenre
            button(id= 'btn-book-new' type= 'button')= 'New Book'
          div(class= 'container-books')
            ul
              each book in books
                li(data-id= book.uuid class= 'li-book')
                  h2= book.title
                  div= book.author
                  div= `${book.pages} pages`
                  div(class= 'container-btns')
                    button(class= 'btn-edit' type= 'button')= 'Edit'
                    button(class= 'btn-delete' type= 'button')= 'Delete'
        div(id= 'div-modal-collection' class= 'hide')
          h3= 'New Genre'
          form(id= 'form-genre-create' method= 'POST' action= '/genres/new')
            label(for= 'input-genre-name')= 'Name: '
              input(type= 'text' id= 'input-genre-name' name= 'name' placeholder= 'Fiction, Non-fiction...')
            button(type = 'submit' id='btn-submit')= 'Add Genre'
    div(id= 'div-background' class= 'hide')= ''